/gerador_ram/com_steps/
/treino_ARIMA/com_steps/
/treino_ARIMA/com_timestamp/testes/testes_passados/
/treino_ARIMA/com_timestamp/1.aarima-testes.py
/treino_ARIMA/com_timestamp/1.auto-arima-testes.py
/treino_ARIMA/com_timestamp/versoes_antigas/
/controlador/gerador_ram_final/resultados/
/controlador/gerador_ram_final/aarima-test.py
/controlador/gerador_ram_final/gerador-backup.py
/controlador-copy/